<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Registratration Form</title>
</head>
<body>
<h3>Student Registratration Form</h3>

<form th:action="@{/processStudentForm}" th:Object ="${student}" method="Post">
Firstname: 
<input type="text" th:field ="*{firstName}"> 
<!-- it's same as ${student.firstName} -->
<br><br>
Lastname:
<input type="text" th:field="*{lastName}"> 
<!--  it's same as ${student.lastName} -->
  <br>

<input type="submit" value="submit">
</form>
    
</body>
</html>